@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Press+Start+2P&display=swap');


App {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f4f4;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  .selected {
    background-color: #b3e5fc;
  }
  
  .button{
    background-color: #0dbc72;
    border-radius: 20px;
    width: 20%;
    cursor: pointer;
  }