@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Press+Start+2P&display=swap');


.App {
  background-color: #09095e;
  overflow: hidden;
  flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #FFFF00;
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.start-btn {
  margin-top: 20px;
}